{:blocks (
{:block/content "Ruta para Back-End"
:block/format :markdown
:block/left 
{:block/uuid #uuid "67cefbfa-6450-4e24-a6e9-acb49fb1d23f"}
:block/parent 
{:block/uuid #uuid "67cefbfa-6450-4e24-a6e9-acb49fb1d23f"}
:block/properties 
{}
:block/uuid #uuid "67cefc1c-52f6-4fcc-af77-088859964a3c"} 
{:block/created-at 1741618401617
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 -1]
:pageId "67cefc1c-52f6-4fcc-af77-088859964a3c"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [200 40.666663506049254]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "edd04e40-fdbe-11ef-ba32-35f931fa5615"
:noFill false
:point [-3040 32]
:parentId "67cefbfa-6450-4e24-a6e9-acb49fb1d23f"
:collapsedHeight 0
:nonce 1741618194991}}
:block/updated-at 1741618401617})
:pages (
{:block/uuid #uuid "67cefbfa-6450-4e24-a6e9-acb49fb1d23f"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "67cefbfa-6450-4e24-a6e9-acb49fb1d23f"
:name "pizzara 2 back-end"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("edd04e40-fdbe-11ef-ba32-35f931fa5615")}}
:block/updated-at 1741618401617
:block/created-at 1741618170582
:block/type "whiteboard"
:block/name "pizzara 2 back-end"
:block/original-name "pizzara 2 back-end"})}